body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
}

#graphContainer {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */

    background-position: -1px -1px;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=")
}

.popup {
    position: fixed;
    z-index: 9999;
    background: white;
    padding: 20px;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 25px solid #78909c;
}

.popup .close {
    position: absolute;
    right: 8px;
    top: 10px;
    cursor: pointer;
    font-size: 50px;
    transform: rotate(45deg);
    line-height: 24px;
    color: #78909c;
}

pre { margin: 0; }

/*Overlays*/
svg image { opacity: .075; transition: all .5s; }
svg image:hover { opacity: 1 }

/*https://codepen.io/AlanCollins/pen/EwDar*/
button {display: inline-block;margin-bottom: 0;text-align: center;text-transform: uppercase;vertical-align: middle;cursor: pointer;background-image: none;white-space: nowrap;padding: 6px 12px;border: 1px solid transparent;text-decoration: none;user-select: none;font-size: 14px;color: #eceff1;border-color: transparent;background-color: #78909c;box-shadow: none;margin: 2px 0;}
button:focus, button:active:focus { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
button:hover, button:focus { text-decoration: none; color: #fff; border-color: transparent; background-color: #90a4ae; box-shadow: none; }
button:active { outline: 0; background-image: none; border-color: #546e7a; color: #cfd8dc; background-color: #546e7a; box-shadow: none; }

button.small {
    width: auto;
    font-weight: 600;
    padding: 4px 6px;
}

.form-row+.form-row {
    margin-top: 20px;
}


textarea {
    resize: none;
}

[contentEditable] {
    min-height: 100px;
    max-height: 200px;
    overflow: auto;
}

input, [contentEditable], textarea {
    box-sizing: border-box;
    width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    padding: 5px;
    background: white;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

.draggables > * {
    display:inline-block;cursor:move;background:#fff;margin-right:10px;box-sizing: border-box;
    width: 40px;height: 40px;
}

.wysiwyg-toolbar {
    background: white;padding: 3px;
}

.wysiwyg [data-command] {
    background: 0 0;
    width: 24px;
    height: 24px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
}

.wysiwyg [data-command].hover, .wysiwyg [data-command].is-active {
    border-color: #9b9b9b;
}

.wysiwyg [data-command=bold] {
    background-image: url(https://www.kenniswest.be/images/editor/bold_icon.svg)
}

.wysiwyg [data-command=italic] {
    background-image: url(https://www.kenniswest.be/images/editor/italic_icon.svg)
}

.wysiwyg [data-command=underline] {
    background-image: url(https://www.kenniswest.be/images/editor/underline_icon.svg)
}

.wysiwyg [data-command=justifyleft] {
    background-image: url(https://www.kenniswest.be/images/editor/align-left_icon.svg)
}

.wysiwyg [data-command=justifycenter] {
    background-image: url(https://www.kenniswest.be/images/editor/align-center_icon.svg)
}

.wysiwyg [data-command=justifyright] {
    background-image: url(https://www.kenniswest.be/images/editor/align-right_icon.svg)
}

.wysiwyg [data-command=insertunorderedlist] {
    background-image: url(https://www.kenniswest.be/images/editor/list_icon.svg)
}

.wysiwyg-divider {
    margin-right: 5px;
    margin-left: 5px;
    color: lightgrey;
}
